@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');



* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
   font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: #D21617;
}

#logo {
    width: 150px;
    height: auto;
}

#banner {
    background-image: url(https://pbs.twimg.com/media/FBwJWeQXIAItfyH.jpg:large);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kdam Thmor Pro', sans-serif ;
    font-size: 15px;
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif; 
}

.footer-navigation {
    display: none;
}

.footer-list {
 display: flex;
 flex-direction: column; 
 align-items: center;  
}

.formulario {
    
    width: 85%;
    height: 80%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
  
     
    row-gap: 5px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 50px;
    align-items: center;
   
 
}
 
 .input {
    width: 300px;
    color: aliceblue;
    border-radius: 5px;
    margin: none;
    padding: 10px;
    font-family: 'Kdam Thmor Pro', sans-serif ;
    border-color: #fff;
    margin-top: 5px;
    background-color: #ddc9c9;
    list-style: none;
 }

 .button {
    background-color: blue;
    color: antiquewhite;
    font-size: 'Kdam Thmor Pro', sans-serif ;
    cursor: pointer;
    border-radius: 5px;
    
 }
 .bloco-de-fundo {
    background-color: black;
    padding: 15px
    display: flex;
    flex-direction:column ;
    border-radius: 15px;
    width: 40%;
    height: 80%;

 }